.messages {
  flex-wrap: wrap;
  justify-content: right;
  justify-content: space-between;
}

.messageBox {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid goldenrod;
    float: right;
}

.messageFriendsContainer {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  float: right;
}