.event {
  background-color: cornsilk;
  font-style: italic;
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 10px;
}

.event:first-child {
  background-color: rgb(218, 165, 32, 0.75);
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 10px;
}

.myEvent:first-child {
  background-color: rgb(218, 165, 32, 0.75);
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 10px;
}

.myEvent {
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 10px;
}