.each-slide{
  max-width: 100% !important;
  max-height: fit-content !important;

}
.slideshowimage{
  max-height: 500px !important;
  max-width: fit-content !important;
  margin-left: 225px;
  
}
.slide-container{
  max-width: 95% !important;
  max-height: fit-content;
}
