.main {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 0px;
}

.messageFriendsContainer {
  min-width: 30%;
}

.NETContainer {
  min-width: 70%;
}

.logoImage {
  max-width: 300px;
  float: right;
  padding-right: 80px;
}